body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3 {
    color: #8B0000;
}

a {
    text-decoration: none;
    color: #7e21e9;
}

.cabecalho {
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-principal ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    background-color: #000000;
}

.menu-principal a:hover {
    text-decoration: underline;
}

.conteudo-principal {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.banner {
    background-color: #8B0000;
    color: #fff;
    padding: 4rem 2rem;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.banner h1 {
    color: #fff;
    font-size: 2.5rem;
}

.secao-rotas, .secao-dicas {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card-rota {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px; 
    text-align: center; 
}

.card-rota img {
    max-width: 100%; 
    height: 180px; 
    object-fit: cover; 
    border-radius: 4px;
    margin-bottom: 1rem; 
}

.rodape {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
}

/* Ajustes para responsividade */
@media (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        padding: 1rem;
    }
    
    .menu-principal ul {
        margin-top: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    
    .banner h1 {
        font-size: 2rem;
    }
    
    .banner {
        padding: 2rem 1rem;
    }
    
    .conteudo-principal {
        padding: 1rem;
    }
    
    .footer-links {
        flex-direction: column;
        gap: 10px;
    }
}